* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "SFMono-Regular", sans-serif;
}

div.blogsection {
  width: 100%;
  max-width: 100%;
  margin: 30px auto;
  padding: 0 16px;
  box-sizing: border-box;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  div.blogsection {
    padding: 0 12px;
    margin: 20px auto;
  }
}

div.blogsection .eachblog {
  font-size: 17px;
  font-family: "sans-serif";
}

div.blogsection .eachblog a {
  color: rgb(6, 6, 6);
  text-decoration: none;
}
div.blogsection .eachblog a:hover {
  color: rgb(6, 6, 6);
  text-decoration: underline;
  font-size: 19.2px;
}
div.blogsection .eachblog a:active {
  color: rgba(122, 50, 139, 0.7);
  font-size: 19.2px;
}

div.blogsection .eachblog p {
  color: rgb(0, 0, 0);
  font-size: 19px;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block; /* This helps center the image */
  margin: 0 auto; /* Center the image horizontally */
}
